@import "variables";

.navbar {
    background-color: $secondary-color;
    padding: 1rem;

    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 2rem;
        margin: 0;
        padding: 0;

        li {
            a {
                color: $text-color;
                font-weight: bold;

                &:hover {
                    color: $primary-color;
                }
            }
        }
    }
}
