// Breakpoints para media queries
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;

// Colores
$primary-color: #4caf50;
$secondary-color: #333;
$text-color: #fff;
$background-color: #f4f4f4;

// Fuentes
$font-stack: Arial, sans-serif;
